.page-head {
  display: block;
  width: 100%;
  background-color: var(--Accent-2);
  text-align: center;
  padding: 20px;
}
.page-body {
  margin-top: 20px;
  padding: 20px 12vw 100px 12vw;
}
.page-body > h2 {
  margin-bottom: 20px;
}
.form-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.form-layout {
  display: flex;
  justify-content: flex-start;
  gap: 5vw;
}
.column-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group label {
  display: block;
  font-size: 20px;
  font-weight: 700;
}
.form-group input, select {
  padding: 10px;
  width: 30vw;
  border-radius: 16px;
  border: 2px solid var(--Accent-2);
  font-size: 16px;
}
.details {
  border: 2px solid var(--Accent-2);
  border-radius: 16px;
  padding: 20px 12px;
  width: 30vw;
  position: relative;
}
.details li {
  padding: 6px;
}
.edit-icon {
  color: var(--Accent-2);
  font-size: large;
  cursor: pointer;
  width: 20px;
  position: absolute;
  right: 2%;
  top: 4%;
}

/* Payment */
.pay-rule {
  width: 50vw;
}
.pay-img {
  position: absolute;
  right: 15%;
  width: 20vw;
  height: 50vh;
}
.pay-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.pay-devider {
  height: 5px;
  background-color: var(--Accent-2);
  width: 30vw;
}
.deposit-cost {
  width: 30vw;
}
.pay-cost {
  display: flex;
  justify-content: space-between;
}
.deposit-cost p {
  margin-top: 10px;
}
.pay-form .form-group {
  margin-top: 10px;
}

/* Success */
.success-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--Accent-2);
  padding: 0 0 100px 0;
}
.success-page > h1 {
  margin-top: 20px;
}
.success-page h3 {
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}
.congrats-img {
  width: 60vw;
  height: 50vh;
  border-radius: 16px;
  overflow: hidden;
}
.congrats-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}